In [7]:
pip install google.colab
!pip install -q kaggle
from google.colab import files
files.upload()

In [11]:
! mkdir ~/.kaggle

In [4]:
! cp kaggle.json ~/.kaggle/

In [5]:
! chmod 600 ~/.kaggle/kaggle.json

In [6]:
! kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                               size  lastUpdated          downloadCount
----------------------------------------------------------  -------------------------------------------------  -----  -------------------  -------------
yamqwe/omicron-covid19-variant-daily-cases                  Omicron daily cases by country (COVID-19 variant)  432KB  2022-01-24 07:15:53          10042
iamsouravbanerjee/analytics-industry-salaries-2022-india    Data Professionals Salary - 2022                    56KB  2022-01-28 08:47:00           1369
nkitgupta/jigsaw-regression-based-data                      Jigsaw Regression Based Data                         3GB  2022-01-10 06:29:59            562
prasertk/netflix-subscription-price-in-different-countries  Netflix subscription fee in different countries      3KB  2022-01-15 07:06:09           1207
yasserh/song-popularity-dataset                             Song Popularity Dataset                            805KB  2022-01-07 13:18:43           1299
vishalmane10/anime-dataset-2022                             Anime DataSet 2022                                   5MB  2022-01-16 13:56:16            657
yasserh/wine-quality-dataset                                Wine Quality Dataset                                21KB  2022-01-15 19:15:11           1111
carlmcbrideellis/gdp-20152019-finland-norway-and-sweden     GDP 2015-2019: Finland, Norway, and Sweden          365B  2022-01-05 07:48:49            473
yasserh/uber-fares-dataset                                  Uber Fares Dataset                                   7MB  2022-01-01 15:54:14           1058
dansbecker/melbourne-housing-snapshot                       Melbourne Housing Snapshot                         451KB  2018-06-05 12:52:24          79529
fedesoriano/stellar-classification-dataset-sdss17           Stellar Classification Dataset - SDSS17              7MB  2022-01-15 17:11:30            352
datasnaek/youtube-new                                       Trending YouTube Video Statistics                  201MB  2019-06-03 00:56:47         164442
zynicide/wine-reviews                                       Wine Reviews                                        51MB  2017-11-27 17:08:04         153309
residentmario/ramen-ratings                                 Ramen Ratings                                       40KB  2018-01-11 16:04:39          32202
datasnaek/chess                                             Chess Game Dataset (Lichess)                         3MB  2017-09-04 03:09:09          27279
jpmiller/publicassistance                                   US Public Food Assistance                          703KB  2020-08-21 16:51:18          15408
rtatman/188-million-us-wildfires                            1.88 Million US Wildfires                          168MB  2020-05-12 21:03:49          18701
nasa/kepler-exoplanet-search-results                        Kepler Exoplanet Search Results                      1MB  2017-10-10 18:26:59           9814
residentmario/things-on-reddit                              Things on Reddit                                    16MB  2017-10-26 14:10:15           8052
nolanbconaway/pitchfork-data                                18,393 Pitchfork Reviews                            33MB  2017-01-13 04:18:10           9935

In [7]:
!kaggle datasets download -d new-york-city/nyc-parking-tickets

Downloading nyc-parking-tickets.zip to /content
100% 2.02G/2.02G [00:19<00:00, 36.7MB/s]
100% 2.02G/2.02G [00:19<00:00, 113MB/s]

In [8]:
!unzip nyc-parking-tickets.zip

Archive:  nyc-parking-tickets.zip
  inflating: Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv
  inflating: Parking_Violations_Issued_-_Fiscal_Year_2015.csv
  inflating: Parking_Violations_Issued_-_Fiscal_Year_2016.csv
  inflating: Parking_Violations_Issued_-_Fiscal_Year_2017.csv

In [10]:
import pandas as pd
df = pd.read_csv("/content/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv")

<bound method NDFrame.describe of          Summons Number Plate ID Registration State  ... BIN BBL  NTA
0            1283294138  GBB9093                 NY  ... NaN NaN  NaN
1            1283294151  62416MB                 NY  ... NaN NaN  NaN
2            1283294163  78755JZ                 NY  ... NaN NaN  NaN
3            1283294175  63009MA                 NY  ... NaN NaN  NaN
4            1283294187  91648MC                 NY  ... NaN NaN  NaN
...                 ...      ...                ...  ...  ..  ..  ...
9100273      8006150199  16088MC                 NY  ... NaN NaN  NaN
9100274      8006150217  94008JW                 NY  ... NaN NaN  NaN
9100275      8006150242  FWG3729                 NY  ... NaN NaN  NaN
9100276      8006150254   193YUR                 CT  ... NaN NaN  NaN
9100277      8006150278  FPN7411                 NY  ... NaN NaN  NaN

[9100278 rows x 51 columns]>

In [11]:
df.columns

<bound method NDFrame.head of          Summons Number Plate ID Registration State  ... BIN BBL  NTA
0            1283294138  GBB9093                 NY  ... NaN NaN  NaN
1            1283294151  62416MB                 NY  ... NaN NaN  NaN
2            1283294163  78755JZ                 NY  ... NaN NaN  NaN
3            1283294175  63009MA                 NY  ... NaN NaN  NaN
4            1283294187  91648MC                 NY  ... NaN NaN  NaN
...                 ...      ...                ...  ...  ..  ..  ...
9100273      8006150199  16088MC                 NY  ... NaN NaN  NaN
9100274      8006150217  94008JW                 NY  ... NaN NaN  NaN
9100275      8006150242  FWG3729                 NY  ... NaN NaN  NaN
9100276      8006150254   193YUR                 CT  ... NaN NaN  NaN
9100277      8006150278  FPN7411                 NY  ... NaN NaN  NaN

[9100278 rows x 51 columns]>

In [13]:
%%writefile testutility.py
import logging
import os
import subprocess
import yaml
import pandas as pd
import datetime
import gc
import re

def read_config_file(filepath):
    with open(filepath, 'r') as stream:
        try:
            return yaml.safe_load(stream)
        except yaml.YAMLError as exc:
            logging.error(exc)


def replacer(string, char):
    pattern = char + '{2,}'
    string = re.sub(pattern, char, string)
    return string


def col_header_val(df, table_config):
    """ replace whitespaces in the column  and standardized column names """
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace('[^\w]', '_', regex=True)
    df.columns = list(map(lambda x: x.strip('_'), list(df.columns)))
    df.columns = list(map(lambda x: replacer(x, '_'), list(df.columns)))
    expected_col = list(map(lambda x: x.lower(), table_config['columns']))
    expected_col.sort()
    df.columns = list(map(lambda x: x.lower(), list(df.columns)))
    df = df.reindex(sorted(df.columns), axis=1)
    if len(df.columns) == len(expected_col) and list(expected_col) == list(df.columns):
        print("column name and column length validation passed")
        return 1
    else:
        print("column name and column length validation failed")
        mismatched_columns_file = list(set(df.columns).difference(expected_col))
        print("Following File columns are not in the YAML file", mismatched_columns_file)
        missing_YAML_file = list(set(expected_col).difference(df.columns))
        print("Following YAML columns are not in the file uploaded", missing_YAML_file)
        logging.info(f'df columns: {df.columns}')
        logging.info(f'expected columns: {expected_col}')
        return 0

Writing testutility.py

Overwriting test_utility.py

In [14]:
%%writefile file.yaml
file_type: csv
dataset_name: testfile
file_name: Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_
table_name: edsurv
inbound_delimeter: ","
outbound_delimeter: "|"
skip_leading_rows: 1
columns:
    -Summons Number
    -Plate ID
    -Registration State
    -Plate Type
    -Issue Date
    -Violation Code
    -Vehicle Body Type
    -Vehicle Make
    -Issuing Agency
    -Street Code1
    -Street Code2
    -Street Code3
    -Vehicle Expiration Date
    -Violation Location
    -Violation Precinct
    -Issuer Precinct
    -Issuer Code
    -Issuer Command
    -Issuer Squad
    -Violation Time
    -Time First Observed
    -Violation County
    -Violation In Front Of Or Opposite
    -House Number
    -Street Name
    -Intersecting Street-Date First Observed
    -Law Section
    -Sub Division
    -Violation Legal Code
    -Days Parking In Effect    
    -From Hours In Effect
    -To Hours In Effect
    -Vehicle Color
    -Unregistered Vehicle?
    -Vehicle Year
    -Meter Number
    -Feet From Curb-Violation Post Code
    -Violation Description
    -No Standing or Stopping Violation
    -Hydrant Violation
    -Double Parking Violation
    -Latitude
    -Longitude
    -Community Board
    -Community Council 
    -Census Tract
    -BIN
    -BBL
    -NTA

Writing file.yaml

Overwriting file.yaml

In [2]:
# Read config file
import testutility as util
config_data = util.read_config_file("file.yaml")
config_data['file_type']

'csv'

In [3]:
config_data

{'columns': '-Summons Number -Plate ID -Registration State -Plate Type -Issue Date -Violation Code -Vehicle Body Type -Vehicle Make -Issuing Agency -Street Code1 -Street Code2 -Street Code3 -Vehicle Expiration Date -Violation Location -Violation Precinct -Issuer Precinct -Issuer Code -Issuer Command -Issuer Squad -Violation Time -Time First Observed -Violation County -Violation In Front Of Or Opposite -House Number -Street Name -Intersecting Street-Date First Observed -Law Section -Sub Division -Violation Legal Code -Days Parking In Effect -From Hours In Effect -To Hours In Effect -Vehicle Color -Unregistered Vehicle? -Vehicle Year -Meter Number -Feet From Curb-Violation Post Code -Violation Description -No Standing or Stopping Violation -Hydrant Violation -Double Parking Violation -Latitude -Longitude -Community Board -Community Council -Census Tract -BIN -BBL -NTA',
 'dataset_name': 'testfile',
 'file_name': 'Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_',
 'file_type': 'csv',
 'inbound_delimeter': ',',
 'outbound_delimeter': '|',
 'skip_leading_rows': 1,
 'table_name': 'edsurv'}

In [1]:
import pandas as pd
df_sample = pd.read_csv("Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv",delimiter=',')
df_sample.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   Summons Number Plate ID Registration State  ... BIN BBL  NTA
0      1283294138  GBB9093                 NY  ... NaN NaN  NaN
1      1283294151  62416MB                 NY  ... NaN NaN  NaN
2      1283294163  78755JZ                 NY  ... NaN NaN  NaN
3      1283294175  63009MA                 NY  ... NaN NaN  NaN
4      1283294187  91648MC                 NY  ... NaN NaN  NaN

[5 rows x 51 columns]

In [4]:
import pandas as pd 


data=pd.read_csv("/content/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv",config_data['inbound_delimeter'])
print("New dataset:", data)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

New dataset:          Summons Number Plate ID Registration State  ... BIN BBL  NTA
0            1283294138  GBB9093                 NY  ... NaN NaN  NaN
1            1283294151  62416MB                 NY  ... NaN NaN  NaN
2            1283294163  78755JZ                 NY  ... NaN NaN  NaN
3            1283294175  63009MA                 NY  ... NaN NaN  NaN
4            1283294187  91648MC                 NY  ... NaN NaN  NaN
...                 ...      ...                ...  ...  ..  ..  ...
9100273      8006150199  16088MC                 NY  ... NaN NaN  NaN
9100274      8006150217  94008JW                 NY  ... NaN NaN  NaN
9100275      8006150242  FWG3729                 NY  ... NaN NaN  NaN
9100276      8006150254   193YUR                 CT  ... NaN NaN  NaN
9100277      8006150278  FPN7411                 NY  ... NaN NaN  NaN

[9100278 rows x 51 columns]

In [5]:
#validate the header of the file
util.col_header_val(data,config_data)

column name and column length validation failed
Following File columns are not in the YAML file ['street_code1', 'street_name', 'plate_type', 'bbl', 'to_hours_in_effect', 'violation_precinct', 'feet_from_curb', 'bin', 'issuer_code', 'double_parking_violation', 'meter_number', 'vehicle_year', 'violation_in_front_of_or_opposite', 'community_council', 'violation_location', 'unregistered_vehicle', 'issuing_agency', 'street_code2', 'violation_description', 'issuer_squad', 'issuer_precinct', 'plate_id', 'vehicle_body_type', 'vehicle_expiration_date', 'issuer_command', 'community_board', 'sub_division', 'street_code3', 'violation_county', 'law_section', 'intersecting_street', 'hydrant_violation', 'latitude', 'house_number', 'no_standing_or_stopping_violation', 'census_tract', 'violation_code', 'date_first_observed', 'nta', 'issue_date', 'summons_number', 'vehicle_color', 'violation_post_code', 'time_first_observed', 'vehicle_make', 'violation_legal_code', 'registration_state', 'longitude', 'days_parking_in_effect', 'violation_time', 'from_hours_in_effect']
Following YAML columns are not in the file uploaded ['v', 'g', '-', 'c', 'b', 'x', 'd', 'f', 'k', ' ', 'e', 'r', 'w', '2', 'p', 's', 'u', '1', 'l', 'o', 'a', 't', 'm', 'n', 'i', 'y', '3', 'h', 'q', '?']

0

In [6]:
print("columns of files are:", data.columns)
print("columns of YAML are:",config_data['columns'])

columns of files are: Index(['summons_number', 'plate_id', 'registration_state', 'plate_type',
       'issue_date', 'violation_code', 'vehicle_body_type', 'vehicle_make',
       'issuing_agency', 'street_code1', 'street_code2', 'street_code3',
       'vehicle_expiration_date', 'violation_location', 'violation_precinct',
       'issuer_precinct', 'issuer_code', 'issuer_command', 'issuer_squad',
       'violation_time', 'time_first_observed', 'violation_county',
       'violation_in_front_of_or_opposite', 'house_number', 'street_name',
       'intersecting_street', 'date_first_observed', 'law_section',
       'sub_division', 'violation_legal_code', 'days_parking_in_effect',
       'from_hours_in_effect', 'to_hours_in_effect', 'vehicle_color',
       'unregistered_vehicle', 'vehicle_year', 'meter_number',
       'feet_from_curb', 'violation_post_code', 'violation_description',
       'no_standing_or_stopping_violation', 'hydrant_violation',
       'double_parking_violation', 'latitude', 'longitude', 'community_board',
       'community_council', 'census_tract', 'bin', 'bbl', 'nta'],
      dtype='object')
columns of YAML are: -Summons Number -Plate ID -Registration State -Plate Type -Issue Date -Violation Code -Vehicle Body Type -Vehicle Make -Issuing Agency -Street Code1 -Street Code2 -Street Code3 -Vehicle Expiration Date -Violation Location -Violation Precinct -Issuer Precinct -Issuer Code -Issuer Command -Issuer Squad -Violation Time -Time First Observed -Violation County -Violation In Front Of Or Opposite -House Number -Street Name -Intersecting Street-Date First Observed -Law Section -Sub Division -Violation Legal Code -Days Parking In Effect -From Hours In Effect -To Hours In Effect -Vehicle Color -Unregistered Vehicle? -Vehicle Year -Meter Number -Feet From Curb-Violation Post Code -Violation Description -No Standing or Stopping Violation -Hydrant Violation -Double Parking Violation -Latitude -Longitude -Community Board -Community Council -Census Tract -BIN -BBL -NTA

In [7]:
if util.col_header_val(data,config_data)==0:
    print("validation failed")
else:
    print("col validation passed")

column name and column length validation failed
Following File columns are not in the YAML file ['street_code1', 'street_name', 'plate_type', 'bbl', 'to_hours_in_effect', 'violation_precinct', 'feet_from_curb', 'bin', 'issuer_code', 'double_parking_violation', 'meter_number', 'vehicle_year', 'violation_in_front_of_or_opposite', 'community_council', 'violation_location', 'unregistered_vehicle', 'issuing_agency', 'street_code2', 'violation_description', 'issuer_squad', 'issuer_precinct', 'plate_id', 'vehicle_body_type', 'vehicle_expiration_date', 'issuer_command', 'community_board', 'sub_division', 'street_code3', 'violation_county', 'law_section', 'intersecting_street', 'hydrant_violation', 'latitude', 'house_number', 'no_standing_or_stopping_violation', 'census_tract', 'violation_code', 'date_first_observed', 'nta', 'issue_date', 'summons_number', 'vehicle_color', 'violation_post_code', 'time_first_observed', 'vehicle_make', 'violation_legal_code', 'registration_state', 'longitude', 'days_parking_in_effect', 'violation_time', 'from_hours_in_effect']
Following YAML columns are not in the file uploaded ['v', 'g', '-', 'c', 'b', 'x', 'd', 'f', 'k', ' ', 'e', 'r', 'w', '2', 'p', 's', 'u', '1', 'l', 'o', 'a', 't', 'm', 'n', 'i', 'y', '3', 'h', 'q', '?']
validation failed

In [1]:
import pandas as pd
pd.read_csv("/content/Parking_Violations_Issued_-_Fiscal_Year_2014__August_2013___June_2014_.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (17,18,20,21,22,23,29,30,31,32,36,38,39) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         Summons Number Plate ID Registration State  ... BIN BBL  NTA
0            1283294138  GBB9093                 NY  ... NaN NaN  NaN
1            1283294151  62416MB                 NY  ... NaN NaN  NaN
2            1283294163  78755JZ                 NY  ... NaN NaN  NaN
3            1283294175  63009MA                 NY  ... NaN NaN  NaN
4            1283294187  91648MC                 NY  ... NaN NaN  NaN
...                 ...      ...                ...  ...  ..  ..  ...
9100273      8006150199  16088MC                 NY  ... NaN NaN  NaN
9100274      8006150217  94008JW                 NY  ... NaN NaN  NaN
9100275      8006150242  FWG3729                 NY  ... NaN NaN  NaN
9100276      8006150254   193YUR                 CT  ... NaN NaN  NaN
9100277      8006150278  FPN7411                 NY  ... NaN NaN  NaN

[9100278 rows x 51 columns]